
/* tailwind css  */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* class for the 30% component in the login page and sign up page  */
.loginPageSmall {
  background-image: url('../public/user_login_bg.jpg'); /* URL of the image */
  background-size: cover; /* Set the size of the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}


